DB_URL=jdbc:postgresql://IP_SERVIDOR_BD:5432/cec_capacitacion
DB_USERNAME=admin_cec
DB_PASSWORD=CAMBIAR

MAIL_USERNAME=correo@upse.edu.ec
MAIL_PASSWORD=CAMBIAR
APP_UPLOAD_DIR=/var/lib/sgc-cec/uploads

JWT_SECRET=GENERAR_UN_VALOR_ALEATORIO_DE_AL_MENOS_32_CARACTERES
JWT_EXPIRATION_MS=28800000
FRONTEND_ORIGINS=https://sgc.cec.upse.edu.ec
